/*
<div class="animation-loading-alex-warnes gradient-spinner">
    <div></div>
</div>
*/

// https://codepen.io/AlexWarnes/pen/jXYYKL
$animation-loading-alex-warnes-size: 200px !default;
$animation-loading-alex-warnes-border-size: 5px !default;
$animation-loading-alex-warnes-primary: #00bcd4 !default;
$animation-loading-alex-warnes-secondary: #ff9800 !default;
$animation-loading-alex-warnes-background: #1d2630 !default;

.animation-loading-alex-warnes {
    position: relative;
    width: $animation-loading-alex-warnes-size;
    height: $animation-loading-alex-warnes-size;
    display: flex;
    justify-content: center;
    align-items: center;

    &.gradient-spinner {
        padding: $animation-loading-alex-warnes-border-size;
        border-radius: 50%;
        background: $animation-loading-alex-warnes-secondary;
        background: linear-gradient(0deg, rgba($animation-loading-alex-warnes-secondary, 0.1) 33%, rgba($animation-loading-alex-warnes-secondary, 1) 100%);
        animation: animation-loading-alex-warnes-spin .8s linear infinite;

        &:after {
            content: '';
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background-color: $animation-loading-alex-warnes-background;
        }
    }
}

@keyframes animation-loading-alex-warnes-spin {
    from {
        transform: rotate(0);
    }
    to{
        transform: rotate(359deg);
    }
}