/*
<div class="animation-loading-alex-warnes rotating-squares">
    <div></div>
    <div></div>
</div>
*/

// https://codepen.io/AlexWarnes/pen/jXYYKL
$animation-loading-alex-warnes-size: 200px !default;
$animation-loading-alex-warnes-border-size: 5px !default;
$animation-loading-alex-warnes-primary: #00bcd4 !default;
$animation-loading-alex-warnes-secondary: #ff9800 !default;
$animation-loading-alex-warnes-background: #1d2630 !default;

.animation-loading-alex-warnes {
    position: relative;
    width: $animation-loading-alex-warnes-size;
    height: $animation-loading-alex-warnes-size;
    display: flex;
    justify-content: center;
    align-items: center;

    &.rotating-squares {
        & > * {
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: $animation-loading-alex-warnes-border-size;

            &:first-child {
                background: $animation-loading-alex-warnes-primary;
                animation: animation-loading-alex-warnes-clockwise 3s ease-in-out 0s infinite alternate;
            }

            &:last-child {
                background: $animation-loading-alex-warnes-secondary;
                transform: rotate(45deg);
                animation: animation-loading-alex-warnes-xclockwise 3s ease-in-out 0s infinite alternate;
            }

            &:after {
                content: '';
                width: 100%;
                height: 100%;
                background-color: $animation-loading-alex-warnes-background;
            }
        }
    }
}


@keyframes animation-loading-alex-warnes-clockwise {
    0% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes animation-loading-alex-warnes-xclockwise {
    0% {
        transform: rotate(45deg);
    }
    25% {
        transform: rotate(-45deg);
    }
    50% {
        transform: rotate(-135deg);
    }
    75% {
        transform: rotate(-225deg);
    }
    100% {
        transform: rotate(-315deg);
    }
}