/*
<div class="animation-loading-alex-warnes solar-system">
    <div class="earth-orbit orbit">
        <div class="planet earth"></div>
        <div class="venus-orbit orbit">
            <div class="planet venus"></div>
            <div class="mercury-orbit orbit">
                <div class="planet mercury"></div>
                <div class="sun"></div>
            </div>
        </div>
    </div>
</div>
*/

// https://codepen.io/AlexWarnes/pen/jXYYKL
$animation-loading-alex-warnes-size: 200px !default;
$animation-loading-alex-warnes-border-size: 5px !default;
$animation-loading-alex-warnes-primary: #00bcd4 !default;
$animation-loading-alex-warnes-secondary: #ff9800 !default;
$animation-loading-alex-warnes-background: #ffffff !default;

.animation-loading-alex-warnes {
    position: relative;
    width: $animation-loading-alex-warnes-size;
    height: $animation-loading-alex-warnes-size;
    display: flex;
    justify-content: center;
    align-items: center;

    &.solar-system{
        .planet {
            position: absolute;
            top: -5%;
            width: 10%;
            height: 10%;
            border-radius: 50%;
            background-color: $animation-loading-alex-warnes-primary;
        }

        .sun {
            width: 30%;
            height: 30%;
            border-radius: 50%;
            background-color: $animation-loading-alex-warnes-secondary;
        }

        .orbit {
            position: relative;
            width: 80%;
            height: 80%;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid white; // $animation-loading-alex-warnes-background;
            border-radius: 50%;
            animation: animation-loading-alex-warnes-spin linear infinite;
        }

        /*
        *		CUSTOMIZABLE
        */

        // .earth{}
        // .venus{}
        // .mercury{}

        .earth-orbit {
            animation-duration: 12s;
        }

        .venus-orbit {
            animation-duration: 7.4s;
        }

        .mercury-orbit {
            animation-duration: 3s;
        }
    }
}

@keyframes animation-loading-alex-warnes-spin {
    from {
        transform: rotate(0);
    }
    to{
        transform: rotate(359deg);
    }
}