$button-parallelogram-primary: #000000 !default;
$button-parallelogram-secondary: #000000 !default;

.button-parallelogram{
    position: relative;
    z-index: 1;

    &:after{
        content: '';
        position: absolute;
        top: 10%;
        width: 90%;
        height: 80%;
        border-radius: 4px;
        z-index: -1;
        transition: transform 0.28s, background 0.28s, border 0.28s;
        opacity: 0.5;
    }

    &:not(.hover-only),
    &:hover{
        &:after{
            background: $button-parallelogram-primary;
            transform: skew(10deg);
        }
    }

    &:not(.hover-only){
        &:hover{
            &:after{
                background: $button-parallelogram-secondary;
                transform: skew(-10deg);
                // border-left: 2.6em solid $button-parallelogram-secondary;
            }
        }
    }
}