$simple-list-color: #000000 !default;
$simple-list-color-hover: $simple-list-color !default;

ul.simple-list {
    padding: 0;
    font-size: 1.2rem;
    & > li {
        list-style:none;
        padding: 0.5em 0;
        display: flex;
        align-items: center;

        // a/span wrapper
        & > *{
            text-decoration: none;
            color: inherit;
            display: flex;
            align-items: center;
        }

        svg,
        .icon {
            font-size: 1.5em;
            color: $simple-list-color;
            speak: none;
            margin-right: 0.5em;
            margin-left: 0.5em;
            transition: color 0.2s;
        }

        // sublist
        ul {
            margin-top: -0.5em;
            margin-left: 1em;
            padding-left: 1em;
        }

        &:hover{
            // to dodge sublists
            & > * {
                & > svg,
                & > .icon {
                    color: $simple-list-color-hover;
                }
            }
            & > svg,
            & > .icon {
                color: $simple-list-color-hover;
            }
        }
    }
    &.horizontal{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        & > li{
            padding: 0.5em;
        }
    }
}