// TODO OPTIMIZE
@import 'main/global';
@import "atoms/ButtonParallelogram";
@import 'guebbit-scss-library/components/atoms/ButtonSocialIcon';
@import 'guebbit-scss-library/components/atoms/SimpleList';
@import 'guebbit-scss-library/components/atoms/HoverLineHighlight';
@import 'guebbit-scss-library/components/atoms/StatusCircle';
@import "guebbit-scss-library/components/molecules/TypographyPanel";
@import "fixes/SwiperJSHelper";
// TODO TEMPORARY: hope that vuetify make this easily modifiable
@import "fixes/VuetifyBetaFixes";
@import 'fixes/elevation';

.hero-panel-content{
    padding: 24px;
}

.button-parallelogram{
    &.v-list-item{
        padding-right: 1em;
        &:after{
            width: 87%;
        }
        &:hover .v-list-item__overlay,
        &.v-list-item--active .v-list-item__overlay{
            opacity: 0;
        }

        &.v-list-item--active{
            &:not(.hover-only){
                &:after{
                    background: rgb(var(--v-theme-secondary));

                }
            }
            &.hover-only{
                &:after{
                    border: 2px solid rgb(var(--v-theme-primary));
                }
            }
        }
    }
}


.button-social-icon{
    .icon{
        &.facebook-color{
            color: g-color-get('socials', 'facebook');
            &:before{
                background: g-color-get('socials', 'facebook');
            }
        }
        &.instagram-color{
            color: g-color-get('socials', 'instagram-fallback');
            &:before{
                background: g-color-get('socials', 'instagram');
            }
        }
        &.tiktok-color{
            color: g-color-get('socials', 'tiktok-fallback');
            &:before{
                background: g-color-get('socials', 'tiktok');
            }
        }
        &.youtube-color{
            color: g-color-get('socials', 'youtube');
            &:before{
                background: g-color-get('socials', 'youtube');
            }
        }
        &.whatsapp-color{
            color: g-color-get('socials', 'whatsapp');
            &:before{
                background: g-color-get('socials', 'whatsapp');
            }
        }
        &.telegram-color{
            color: g-color-get('socials', 'telegram');
            &:before{
                background: g-color-get('socials', 'telegram');
            }
        }
        &.primary-color{
            color: rgb(var(--v-theme-primary));
            &:before{
                background: rgb(var(--v-theme-primary));
            }
        }
        &.secondary-color{
            color: rgb(var(--v-theme-secondary));
            &:before{
                background: rgb(var(--v-theme-secondary));
            }
        }
    }
    &:hover{
        .icon{
            color: #FFFFFF !important;
        }
    }
}

.status-circle{
    &.online{
        background-color: #00c853;
        &:before{
            background-color: #00c853;
        }
    }
    &.offline{
        background-color: #F44336;
        &:before{
            background-color: #F44336;
        }
    }
}