// TODO OPTIMIZE
@import 'main/global';
@import '_transitions';
@import 'atoms/ButtonParallelogram';
@import 'atoms/AnimationLoadingAlexWarnesRotatingSquares';
@import 'guebbit-scss-library/components/atoms/ButtonBrandIcon';
@import 'guebbit-scss-library/components/atoms/SimpleList';
@import 'guebbit-scss-library/components/atoms/SimpleBlockquote';
@import 'guebbit-scss-library/components/atoms/GreatBlockquote';
@import 'guebbit-scss-library/components/atoms/HoverLineHighlight';
@import 'guebbit-scss-library/components/atoms/StatusCircle';
@import "guebbit-scss-library/components/molecules/TypographyPanel";
@import 'fixes/SwiperJSHelper';
// TODO TEMPORARY: hope that vuetify make this easily modifiable
@import 'fixes/VuetifyBetaFixes';
@import 'fixes/elevation';


// TODO guebbit (magari ancora meno di atom?)
@import 'atoms/SimpleIconText';


@include guebbit-include-brand-colors;


.cursor-pointer{
    cursor: pointer;
}


.light-color {
    color: #ffffff !important;

    &::after,
    &::before {
        background: #ffffff !important;
    }

    &:hover {
        color: #121212 !important;
        background: #ffffff !important;
    }
}

.dark-color {
    color: #121212 !important;

    &::after,
    &::before {
        color: #ffffff !important;
        background: #121212 !important;
    }

    &:hover {
        color: inherit !important;
        background: #121212 !important;
    }
}

@include guebbit-include-font-size((
        (n2, 0.6em),
        (n1, 0.8em),
        (1, 1.2em),
        (2, 1.5em),
        (3, 2em),
));
@include guebbit-include-flex-gap((
        (6, 6px),
        (12, 12px),
        (24, 24px),
));

.hero-panel-content{
    padding: 24px;
}


@include media-mobile(){
    .desktop-only{
        display: none !important;
    }
}
@include media-desktop(){
    .mobile-only{
        display: none !important;
    }
}

.button-parallelogram{
    &.v-list-item{
        padding-right: 1em;
        &:after{
            width: 87%;
        }
        &:hover .v-list-item__overlay,
        &.v-list-item--active .v-list-item__overlay{
            opacity: 0;
        }

        &.v-list-item--active{
            &:not(.hover-only){
                &:after{
                    background: rgb(var(--v-theme-secondary));

                }
            }
            &.hover-only{
                &:after{
                    border: 2px solid rgb(var(--v-theme-primary));
                }
            }
        }
    }
}





.facebook-color{
    color: g-color-get('socials', 'facebook') !important;
    &:before{
        background: g-color-get('socials', 'facebook') !important;
    }
}
.instagram-color{
    color: g-color-get('socials', 'instagram-fallback') !important;
    &:before{
        background: g-color-get('socials', 'instagram') !important;
    }
}
.tiktok-color{
    color: g-color-get('socials', 'tiktok-fallback') !important;
    &:before{
        background: g-color-get('socials', 'tiktok') !important;
    }
}
.youtube-color{
    color: g-color-get('socials', 'youtube') !important;
    &:before{
        background: g-color-get('socials', 'youtube') !important;
    }
}
.whatsapp-color{
    color: g-color-get('socials', 'whatsapp') !important;
    &:before{
        background: g-color-get('socials', 'whatsapp') !important;
    }
}
.telegram-color{
    color: g-color-get('socials', 'telegram') !important;
    &:before{
        background: g-color-get('socials', 'telegram') !important;
    }
}


.button-brand-icon{
    .icon{
        &.primary-color{
            color: rgb(var(--v-theme-primary));
            &:before{
                background: rgb(var(--v-theme-primary));
            }
        }
        &.secondary-color{
            color: rgb(var(--v-theme-secondary));
            &:before{
                background: rgb(var(--v-theme-secondary));
            }
        }
    }
    &:hover{
        .icon{
            color: #FFFFFF !important;
        }
    }
}


.status-circle{
    &.online{
        background-color: rgb(var(--v-theme-success));
        &:before{
            background-color: rgba(var(--v-theme-success), .3);
        }
    }
    &.offline{
        background-color: rgb(var(--v-theme-error));
        &:before{
            background-color: rgba(var(--v-theme-error), .3);
        }
    }
}