
.border-primary{
    border-color: rgb(var(--v-theme-primary)) !important;
}
.border-secondary{
    border-color: rgb(var(--v-theme-secondary)) !important;
}

section.theme-section{
    padding: 60px 0;
}

.theme-panel {
    &.hero-panel {
        .hero-panel-content {
            & > * {
                max-width: 800px;
            }
        }
    }
}

.theme-page-title,
.theme-section-title{
    line-height: 1;
    & + .theme-page-subtitle,
    & + .theme-section-subtitle{
        margin-top: 1.5em;
        margin-bottom: 1.5em;
    }
}

.theme-section-subtitle,
.theme-page-subtitle{
    line-height: 1.5;
}

.theme-page-title{
    font-size: 4em;
    @include media-desktop() {
        font-size: 3em;
    }
}

.theme-page-subtitle{
    font-size: 3em;
    @include media-desktop() {
        font-size: 2em;
    }
}

.theme-section-title{
    font-size: 3em;
    @include media-desktop() {
        font-size: 2em;
    }
}

.theme-page-subtitle{
    font-size: 2em;
    @include media-desktop() {
        font-size: 1.5em;
    }
}
