#vrmetagamesLogo{
    .cls-1,.cls-6{fill:#0086ff;}.cls-2,.cls-5{fill:#ff7b00;}.cls-3{fill:#ff8a23;}.cls-4{fill:#fff;}.cls-5,.cls-6{stroke:#000;stroke-miterlimit:10;}.cls-5{stroke-width:20px;}.cls-6{stroke-width:11px;}
}