// VUETIFY WAITING FIX
.v-row {
    @include media-mobile(){
        margin: 0;
    }
}
.page-menu-padding{
    padding-top: 88px !important; // 64 + 24
}

.vuetify-button-icon{
    text-align: center;
    .v-btn__content{
        display: block;
        width: 100%;
        svg{
            float: right;
        }
    }
}
.vuetify-button-icon-between{
    .v-btn__content{
        justify-content: space-between;
        width: 100%;
    }
}

// o la X prende una fetta considerevole della dialog
.v-alert{
    .v-alert__close{
        position: absolute;
        top: 0;
        right: 0;
    }
}

.v-overlay{
    .v-overlay__scrim{
        background: rgb(var(--v-theme-background));
        opacity: 0.75;
    }
}

// .v-list-item-avatar--start
// .waiting-class-default-provider

.v-input{
    .v-field{
        &.v-field--has-label{
            .v-field__prepend-inner,
            .v-field__append-inner,
            .v-field__clearable{
                align-items: center;
                padding-top: 0;
            }
        }
    }
    &.v-custom-field--has-label{
        .v-input__prepend,
        .v-input__append{
            align-items: center;
            padding-top: 0;
        }
    }
}

