// VUETIFY WAITING FIX
.v-row{
    @include media-mobile(){
        margin: 0;
    }
}
.page-menu-padding{
    padding-top: 88px; // 64 + 24
}

.vuetify-icon-button{
    .v-btn__content{
        width: 100%;
        svg{
            float: right;
        }
    }
}
.vuetify-icon-button-between{
    .v-btn__content{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
}


.v-overlay{
    .v-overlay__scrim{
        background: rgb(var(--v-theme-background));
        opacity: 0.75;
    }
}

// .v-list-item-avatar--start
// .waiting-class-default-provider


