$typography-panel-color: #000000 !default;
$typography-size: 14px !default;

.typography-panel{
    max-width: 1200px;
    margin: 0 auto;
    font-size: $typography-size;

    .panel-category{
        position: relative;
        font-weight: 700;
        font-size: 1.5em;
        padding-left: 5em;
        margin-bottom: 0.2em;
        color: $typography-panel-color;

        &:after{
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 4em;
            height: 0.25em;
            border-radius: 12px;
            background: $typography-panel-color;
        }
    }

    .panel-title,
    .panel-text{
        margin-bottom: 0.5em;
    }
    .panel-title{
        font-weight: 700;
        font-size: 2.5em;
        line-height: 1.4;
    }
    .panel-text{
        font-size: 1.5em;
    }
}