$button-parallelogram-primary: rgb(var(--v-theme-primary));
$button-parallelogram-secondary: rgb(var(--v-theme-secondary));

$typography-panel-color: rgb(var(--v-theme-secondary));

$simple-list-color: rgb(var(--v-theme-primary));
$simple-list-color-hover: rgb(var(--v-theme-secondary));

$hover-line-highlight-color: rgb(var(--v-theme-primary));

$event-footer-primary: rgb(var(--v-theme-primary));
$event-footer-secondary: rgb(var(--v-theme-secondary));
$event-footer-text: rgb(var(--v-theme-text));