$button-parallelogram-primary: rgb(var(--v-theme-primary));
$button-parallelogram-secondary: rgb(var(--v-theme-secondary));

$typography-panel-color: rgb(var(--v-theme-secondary));

$simple-list-color: rgb(var(--v-theme-primary));
$simple-list-color-hover: rgb(var(--v-theme-secondary));

$hover-line-highlight-color: rgb(var(--v-theme-primary));

$event-footer-primary: rgb(var(--v-theme-primary));
$event-footer-secondary: rgb(var(--v-theme-secondary));
$event-footer-text: rgb(var(--v-theme-on-surface));

$great-blockquote-color: rgb(var(--v-theme-primary));
$great-blockquote-cite-text: rgb(var(--v-theme-on-primary));


$animation-loading-alex-warnes-size: 100px;
$animation-loading-alex-warnes-primary: rgb(var(--v-theme-primary));
$animation-loading-alex-warnes-secondary: rgb(var(--v-theme-secondary));
$animation-loading-alex-warnes-background: rgb(var(--v-theme-background));